---
- name: "install required packages"
  apt: 
    pkg: 
      - apt-transport-https
      - curl
      - software-properties-common
      - python3-pip
      - virtualenv
      - python3-setuptools
    state: latest
    update_cache: yes 

- name: "Add docker GPG key"
  apt_key:
    url: https://download.docker.com/linux/ubuntu/gpg
    state: present 

- name: "add docker repository"
  apt_repository: 
    repo: deb https://download.docker.com/linux/ubuntu bionic stable 

- name: "install docker engine"
  apt:
    pkg:
    - docker-ce
    - containerd.io
    state: latest 
    update_cache: true 

- name: "Docker pip installs"
  pip:
    name: 
    - docker 
    - jsondiff 

- name: "adding a user"
  user:
    name: anas 
    groups: docker
    append: yes 
